@use "../../scss/abstracts/variables" as *;
.pokemon-card {
  margin: 0 auto;
  border-radius: 10px;

  text-align: center;
  position: relative;
  height: 40rem;
  width: 30rem;

  //flip effect

  perspective: 150rem;
  -moz-perspective: 150rem;

  &:hover .card-side-front {
    transform: rotateY(-180deg);
  }

  &:hover .card-side-back {
    transform: rotateY(0);
  }
  .card-side {
    border-radius: 10px;
    border: 1px solid black;
    height: 40rem;
    width: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    &-front {
      transform: rotateY(0deg);
      //transform: rotateY(-180deg);
    }
    &-back {
      transform: rotateY(180deg);
      //transform: rotateY(0deg);
    }
  }

  /////////////////////////// card front styles
  .types-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .name {
    margin-top: 90%;
  }
  .id {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 2.5rem;
    border-radius: 10px;
    //background-color: rgba(167, 161, 161, 0.5);
    font-weight: 500;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
  .sprite-container {
    position: relative;
    width: 30rem;
    .sprite {
      width: 80%;
      position: absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 10%);
      z-index: 1;
    }
    .circle {
      display: block;
      min-width: 30rem;
      min-height: 30rem;
      background-color: rgba(221, 221, 221, 0.5);
      clip-path: circle(40%);
      transform: translate(-50%, -8%);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
    }
  }
}
