.evolution-chain {
  max-width: 100%;
  .down-arrow {
    text-align: center;
  }
  .stage1-container {
    display: flex;
    text-align: center;
  }
  .stage2-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .stage3-container {
    display: flex;
    text-align: center;
  }
  .stage1-container,
  .stage2container,
  .stage3container {
    width: 100%;
  }

  .sprite {
    margin: 0 auto;
  }
  .seperate1 {
    margin: 0 auto;
  }
}
