$mobile-content-width: 80vw;

$color-normal: #878786;
$color-fire: #ff911c;
$color-water: #279cf5;
$color-grass: #00d62b;
$color-electric: #ffee00;
$color-ice: #58e3e8;
$color-fighting: #943823;
$color-poison: #ad23ad;
$color-ground: #ebb57c;
$color-flying: #abc8eb;
$color-psychic: #ff47c5;
$color-bug: #79a36f;
$color-rock: #9e8649;
$color-ghost: #4e2b6e;
$color-dark: #010003;
$color-dragon: #4d02e3;
$color-steel: #b6b6b8;
$color-fairy: #ffccee;
