.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  cursor: pointer;
}
.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: white;
  max-height: 90vh;
  max-width: 90vw;
  overflow: scroll;
  border-radius: 10px;

  .just-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }
  .center-block {
    margin: 0 auto;
  }

  .container-flex-column {
    display: flex;
    flex-direction: column;
  }
  .background {
    margin-top: 1rem;
    background-color: lightgray;
    border-radius: 10px;
    padding: 1rem;
  }
  .heading2 {
    text-align: center;
  }
  ////////////////show-all modal
}
