@use "../../scss/abstracts/variables" as *;
.sprite-container {
  display: flex;
  width: $mobile-content-width;
  margin: 2rem auto 0;
  @media only screen and (min-width: 800px) {
    grid-column: 1/2;
    grid-row: 1/9;
    width: 100%;
  }
  .image-container {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    .left,
    .right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: none;
      font-size: 3rem;
      background-color: transparent;
      border: none;
    }
    .left {
      left: 1rem;
    }
    .right {
      right: 1rem;
    }
    .right,
    .left:hover {
      cursor: pointer;
    }

    // &:hover .pokemon-sprite {
    //   transform: scale(1.5);
    // }

    .pokemon-sprite {
      max-width: 250px;
      width: 100%;
      margin: 0 auto;

      //transition: all 1s;
    }
  }
}
